@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');
@font-face {
    font-family: 'ZT Mota';
    src: url(./assets/fonts/ZTMota-Regular.ttf);
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: max-content ;   
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    animation: blur 0.3s forwards ease-in;
    z-index: 1;
}

.overlay.removed{
    animation: noblur 0.3s forwards ease-in
}

@keyframes blur {
    from{
        background-color: transparent;
        backdrop-filter: none;
    }
    to{
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
    }
}

@keyframes noblur {
    from{
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
    }
    to{
        background-color: transparent;
        backdrop-filter: none;
    }
}

.navbar {
    display: flex;
    position: fixed;    
    align-items: center;
    height: 20%;
    width: 100%;
    z-index: 1;
    border: none !important;
    transition: background-color 0.3 ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-scrolled{
    background-color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in;

}

.navbar-transparent{
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.navbar-spacer{
    height: 20vh;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    height: 15%;
    width: 10%;
    object-fit: contain;
    border: none !important;
}

.logo:hover{
    cursor: pointer;
}

.navigator{
    display: flex;
    flex-direction: row;
    position: sticky;
    left: 100%;
    margin-right: 5%;
    width: 10%;
    height: 100%;
    align-items: start;
}

.navigator:hover{
    cursor: pointer;
}

.menuBarSection{
    position: fixed;
    right:0%;
    z-index: 2;
    background-color: white;
    width: 35%;
    height: 100%;
    animation: Opened 0.3s forwards ease-in;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menuBarSection.closed{
    animation: closed 0.3s forwards ease-in;
}

@keyframes Opened {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
    
}

@keyframes closed {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

.menuBarHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 20%;
    width: 90%;
    margin-left: 5%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2)
}

.menuLogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 30%;
    object-fit: contain;
    border: none !important;
    cursor: pointer;
}

.menuExploreSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    height: 50%;
}

.linkButton {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: black;
}

.CartSection{
    position: fixed;
    right:0%;
    z-index: 2;
    background-color: white;
    width: 35%;
    height: 100%;
    animation: Opened 0.3s forwards ease-in;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.CartSection.closed{
    animation: closed 0.3s forwards ease-in;
}

@keyframes Opened {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
    
}

@keyframes closed {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

.CartHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 7%;
    width: 90%;
    margin-left: 5%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: 'ZT-Mota', serif;
}

.cartItems {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.cartItemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cartItemImage {
    align-content: center;
    width: 4vw;
    margin-right: 2%;
    object-fit: contain;
}

.cartItemImage img{
    width: 100%;
}

.cartItemInfo {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.cartItemName {
    font-family: 'ZT-Mota';
    font-size: 1em;
}

.cartItemSize {
    font-family: 'Glegoo', serif;
    font-size: 0.7em;
    color: #535353;
}

.cartItemPrice {
    font-family: 'Glegoo', serif;
    font-size: 0.7em;
    color: #535353;
}

.removeButton{
    font-family: 'Glegoo';
    font-size: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.bookButton{
    margin-top: 3%;
    font-family: 'Glegoo';
    font-size: 0.8rem;             
    background-color: #000;
    color: white;
    border: none;
    border-radius: 7px;          
    width: 7rem;
    padding-top: 2%;
    padding-bottom: 2%;
    cursor: pointer;
}

.totalPriceSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    font-family: 'Glegoo', serif;
    font-size: 1em;
    width: 100%;
    height: 10%;
}

.totalPriceInfo{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.totalPrice{
    margin-right: 2%;
    font-family: 'Glegoo', serif;
    font-size: 1.2em;
}

.bookNowContainer {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Glegoo';
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 50%;
    margin-left: 2%;
    background-color: white ;
}

.name-fields {
    display: flex;
    gap: 1rem;
    width: 90%;
}

.name-fields input {
    flex: 1;
    box-sizing: border-box;
}

.checkout-form input,
.checkout-form textarea {
    width: 90%;
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: inherit;
}

textarea {
    height: 30vh;
    resize: vertical;
}

.pay-now {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 90%;
}

.order-summary {
    background-color: black;
    color: white;
    flex: 1;
    padding: 2rem;
    width: 50%;
}

.summary-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #444;
    padding-bottom: 1rem;
}

.summary-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2rem;
}


.searchBarSection{
    position: fixed;
    right:0%;
    z-index: 2;
    background-color: white;
    width: 35%;
    height: 100%;
    animation: Opened 0.3s forwards ease-in;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.searchBarSection.closed{
    animation: closed 0.3s forwards ease-in;
}

@keyframes Opened {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
    
}

@keyframes closed {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    height: 8%;
    width: 80%;
    margin-left: 10%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    margin-bottom: 5%;
}

.searchInput {
    width: 100%;
    font-family: 'Glegoo', serif;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    background-color: transparent;
}

.clearButton {
    background: none;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    color: black;
}

.searchResults {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.resultsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resultsImage {
    align-content: center;
    width: 4vw;
    margin-right: 2%;
    object-fit: contain;
}

.resultsImage img{
    width: 100%;
}

.resultsInfo {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.resultsName {
    font-family: 'Glegoo', serif;
    font-size: 0.7em;
}

.resultsPrice {
    font-family: 'Glegoo', serif;
    font-size: 0.5em;
    color: #888;
}

.hero{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 90vh;
    z-index: 0;
}

.heroVideo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.heroPromoBox{
    position: absolute;
    left: 12%;
    bottom: 8%;
    overflow-wrap: break-word;
}

.textBox1{
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Glegoo";
    font-size: 85%;
    word-wrap: break-word;
}

.textBox2{
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'ZT Mota';
    font-size: 210%;
    font-weight: bold;
    word-wrap: break-word;
}

.exploreSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.8px;
    background-color: rgba(0, 0, 0, 0.4);
}

.exploreSectionContainer{
    position: relative;
    width: 50%;
}

.exploreSectionImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exploreItemName{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'ZT Mota';
    font-size: 250%;
    align-items: center;
    right: 10%;
    bottom: 5%;
    height: fit-content;
    width: 16%;
}

.philosophySection {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    position: relative;
    text-align: center;
    gap: 20px;
    height: 110vh;
}

.philosophySectionImage{
    position: sticky;
    object-fit: contain;
    height: 100%;
    width: 70vw; 
}

.philosophySectionText{
    position: sticky;
    height: 100%;
    width: 25vw;
    margin-right: 8%;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: "Glegoo";
    font-size: 110%;
}

.bestsellersSection{
    width: 100vw;
}

.bestsellersHeader{
    font-family: 'ZT Mota';
    text-align: center;
    font-size: 230%;
    font-weight: normal;
}

.bestsellerProductsSection{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin-left: 9%;
    margin-right: 13%;
    gap: 2%;
    height: max-content;
}

.bestsellerProductCard{
    display: flex;
    flex-direction: column;
    border-radius: 5px ;
}

.bestsellerProductCard:hover{
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(65, 65, 65, 0.1);
}

.bestsellerProductImage{
    width: 100%;
}

.bestsellerProductInfo{
    height: 100%;
    text-align: center;
    font-family: 'Glegoo';
    background-color: rgb(247, 247, 247);
    padding: 2%;
    border-bottom-left-radius: 7px;  
    border-bottom-right-radius: 7px;
}

.informationSection{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 1%;
    margin-left: 10.3%;
    margin-right: 19.2%;
    gap: 3.8%;
}

.informationCard{
    text-align: center;
    height: max-content;
}

.linksSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    font-family: 'Glegoo';
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}

.companyLinks{
    font-size: .8em;
    width: 100%;
    text-align: left;
}

.productLinks{
    font-size: .8em;
    width: 100%;
    text-align: left;
}

.legalLinks{
    font-size: .8em;
    width: 100%;
    text-align: left;
}

.internalLinks{
    display: flex;
    flex-direction: column;
    font-size: 90%;
    color: #7C7C7C;
    cursor: pointer;
}

.internalLinks:hover{
    color: black;
}
.emailSection{
    font-size: .8em;
    width: 100%;
    text-align: left;
}

.emailContainer {
    display: flex;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
  }

.emailInput {
    width: 100%;
    flex: 1;
    padding: 5%;
    border: none;
    font-size: 80%;
    outline: none;
  }

.sendButton {
    background: white;
    padding: 5%;
    border: none;
    cursor: pointer;
    border-left: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendButton:hover {
    background-color: #f1f1f1;
}

.sendButton i {
    font-size: 10%;
}

.faqSection{
    display: flex;
    width: 80%;
    height: max-content;
    margin-left: 10%;
    margin-bottom: 5%;
}

.faqLeft{
    display:flex;
    flex-direction: column;
    width: 50%;
}

.faqRight{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
}

.faqContainer{
    width: 100%;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    font-family: 'Glegoo';
    font-size: 0.9em;
}

.faqContainerSummary{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-top: 2%;
    font-size: 1em;
    cursor: pointer;
}

.faqContainerContent{
    max-height: 0;
    overflow: hidden;
    width: 80%;
    transition: max-height 0.4s ease-in-out;
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 2%;
    font-size: 1em;
}
.faqContainerContent.visible{
    display: visible;
    max-height: 20em;
}


.faqContainerContent.hidden{
    max-height: 0;
}

.contactSection{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: max-content;
    margin-left: 10%;
    align-items: center;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 60vh;
}

.contactFormRowOne{
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    gap: 5%;
    height: 12%;
}

.contactFormRowTwo{
    display: flex;
    margin-bottom: 2%;
    height: 12%;
}

.inputFieldTemplate{
    border: solid;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-radius: 8px;
    outline-width: 1px;
    outline-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    text-align: left;
    vertical-align: center;
    font-family: 'Glegoo';
    font-size: 0.8em;
}

.inputFieldTemplate-comment{
    border: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-radius: 8px;
    outline-width: 1px;
    outline-color: rgba(0, 0, 0, 0.4);
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 35%;
    text-align: left;
    font-family: 'Glegoo';
    font-size: 0.8em;
}

.contactFormButton{
    margin-top: 2%;
    height: 10%;
    font-family: 'Glegoo';
    font-size: 0.8em;
    border: none;
    border-radius: 6px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contactFormButton:hover{
    background-color: #242424;
}

.aboutSection{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 3%;
    width: 80%;
}

.aboutHeroSection{
    display: flex;
    justify-content: center;
    position: relative;
    height: max-content;
}

.aboutHero{
    width: 100%;
    object-fit: cover;
}

.aboutHeroText{
    display: flex;
    position: absolute;
    bottom: 15%;
    text-align: center;
    font-family: 'Glegoo';
    font-weight: bold;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: white;
    font-size: 4em;
}

.aboutPromoText1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutHeader{
    margin-top: 6%;
    font-family: 'ZT Mota';
    text-align: center;
    font-size: 1.8em;
    font-weight: normal;
}

.aboutPromoText2 {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    position: relative;
    text-align: center;
    justify-content: space-between;
    height: max-content;
}

.aboutPromoTextImage{
    position: sticky;
    object-fit: contain;
    width: 45%;
    height: 100%;
}

.aboutPromoText{
    position: sticky;
    height: 100%;
    width: 45%;
    margin-right: 3%;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: "Glegoo";
    font-size: 1em;
}

.productsSection{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    height: max-content;
}

.productDescription{
    display: flex;
    flex-direction: column;
    Width: 100%;
    margin-top: 3%;
}

.productHeader{
    font-size: 2.5em;
    font-family: 'ZT Mota';
    margin-bottom: 1%;
}

.productInformation{
    font-size: 1.1em;
    font-family: 'Glegoo';
    color: rgba(0, 0, 0, 0.9)
}

.productsMain{
    display: flex;
    flex-direction: row;
    height: max-content;
    margin-top: 2%;
}

.productsFilter{
    margin-top: 5%;
    width: 30%;
}

.productsCardSection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: center;
    gap: 1%;
    height: max-content;
}

.productsCard{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.buttonActive{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10%;
    bottom: 25%;
    width: 80%;
    height: 10%;
    font-family: 'Glegoo';
    font-size: 0.8em;
    border: none;
    background-color: white;
    box-shadow: 0 3px 6px rgba(65, 65, 65, 0.1);
    border-radius: 10px;
    cursor: pointer;
}

.productsImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productsDescription{
    height: 100%;
    text-align: center;
    font-family: 'Glegoo';
    overflow-wrap: break-word;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: rgb(247, 247, 247);
}

.productsCard:hover{
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(65, 65, 65, 0.1);
}

.shapeFilterContainer {
    font-family: 'Glegoo', serif;
    color: black;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

.shapeFilterSection {
    margin-top: 10%;
    margin-bottom: 2%;
}

.shapeFilterHeader {
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 5%;
}

.shapeFilterCheckbox {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 3%;
}

.shapeFilterCheckbox input {
    margin-right: 5%;
}

.count {
    color: grey;
    font-size: 0.8em;
    margin-left: 2%;
}

.priceFilterContainer {
    border-bottom: 1px solid #ddd;
}

.priceFilterSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    gap: 5px;
}

.priceFilterHeader {
    font-family: 'Glegoo', serif;
    font-size: 1.1em;
}

.priceFilterInfo {
    font-size: 0.9em;
    color: #666;
}

.priceSlider {
    display: flex;
    align-items: center;
    gap: 2%;
}

.priceRange {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
    cursor: pointer;
}

.priceRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.priceInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.priceInput {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    object-fit: fill;
}

.noResultsImage {
    width: 50%; 
    height: 100%;
    opacity: 0.8;  

}

.noResults p {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

.legalsSection{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

.legalsHeader{
    font-family: 'ZT Mota';
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 7%;
}

.legalsText{
    font-family: 'Glegoo';
    font-size: 1em;
    text-align: left;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 7%;
}

.legalsSubHeader{
    font-family: 'ZT Mota';
    font-weight: bold;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: 3%;
    margin-left: 10%;
}

.paginationContainer {
    display: flex;
    padding-left: 1%;
    padding-right: 1.6%;
    margin-left: 55%;
    margin-top: 5%;
    gap: 2%;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: fit-content;
}

.paginationArrow,
.paginationNumber {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #000;
    position: relative;
}

.paginationArrow.disabled,
.paginationNumber.disabled {
    color: #ccc;
    cursor: default;
}

.paginationNumber.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    height: 2px;
    background-color: black;
    border-radius: 2px;
}

.productPageSection{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: max-content;
    margin-left: 15%;
    margin-top: 3%;
}

.productPageImage{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 5%;
    object-fit: contain;
}

.productPageDescription{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
}

.productPageRingSizeContainer{
    margin-bottom: 3%;
}

.productPageRingSizeTexts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 3%;
    font-family: 'Glegoo';
    margin-bottom: 2%;
    text-decoration: none;
}
  
.productPageRingSizeDropdown {
    width: 100%;
    padding: 3%;
    font-size: 0.8em;
    border: solid;
    border-radius: 7px;
    background-color: white;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 2%;
}

.productPageButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.productPageButton{
    font-family: 'Glegoo';
    font-size: 0.8rem;             
    background-color: #000;
    color: white;
    border: none;
    border-radius: 7px;          
    width: 13rem;
    padding-top: 4%;
    padding-bottom: 4%;
    cursor: pointer;
}

.productPageButton:hover{
    background-color: rgb(40, 39, 39);
}
.spacer{
    margin-top: 5%;
}
@media screen and (max-width: 1200px) {
    .navbar {
        display: flex;
        position: fixed;    
        align-items: center;
        height: 12vh;
        width: 100vw;
        border: solid;
        border-width: 1px;
        z-index: 1;
    }
    .logo{
        margin-left: 5%;
        height: 50%;
        width: 15%;
        border: solid;
        border-width: 2px;
        border-color: black;
    }
    .navigator{
        display: flex;
        flex-direction: row;
        position: sticky;
        left: 100%;
        margin-right: 5%;
        width: 20%;
        height: 100%;
        align-items: start;
    }
    .hero{
        display: flex;
        position: relative;
        width: 100%;
        height: 55vh;
        z-index: 0;
    }
    .heroPromoBox{
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 7%;
    }
    .textBox1{
        color: white;
        margin-bottom: 15px;
        text-align: center;
        font-family: "Glegoo";
        font-size: 90%;
        word-wrap: break-word;
    }
    .textBox2{
        color: white;
        margin-bottom: 15px;
        text-align: center;
        font-family: 'ZT Mota';
        font-size: 180%;
        font-weight: bold;
        word-wrap: break-word;
    }
    .exploreItemName{
            display: flex;
            flex-direction: column;
            position: absolute;
            color: white;
            text-align: center;
            font-family: 'ZT Mota';
            font-size: 190%;
            align-items: center;
            right: 10%;
            bottom: 5%;
            height: fit-content;
            width: 16%;
    }
    .philosophySection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .philosophySectionText{
        width: 90vw;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;   
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-family: "Glegoo";
        font-size: 115%;
        order: 1;
    }

    .philosophySectionImage{
        object-fit: contain;    
        margin-left: 5%;
        width: 80vw;
        height: 100%;
        order: 2;
    }
    .informationSection{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-left: 12%;
        margin-right: 22%;
        gap: 15%;
        margin-bottom: 5%;
    }

    .linksSection{
        margin-top: 10%;
    }


    @media screen and (max-width: 700px){
        .navbar {
            display: flex;
            position: fixed;    
            align-items: center;
            height: 10vh;
            width: 100vw;
            border: solid;
            border-width: 1px;
            z-index: 1;
        }
        .logo{
            margin-left: 5%;
            height: 50%;
            width: 15%;
            border: solid;
            border-width: 2px;
            border-color: black;
        }
        .navigator{
            display: flex;
            flex-direction: row;
            position: sticky;
            left: 100%;
            margin-right: 5%;
            width: 20%;
            height: 100%;
            align-items: start;
        }
        .hero{
            display: flex;
            position: relative;
            width: 100%;
            height: 70vh;
            z-index: 0;
        }
        .heroPromoBox{
            position: absolute;
            width: 100%;
            left: 0%;
            bottom: 2%;
        }
        .textBox1{
            color: white;
            margin-bottom: 15px;
            text-align: center;
            font-family: "Glegoo";
            font-size: 75%;
            word-wrap: break-word;
        }
        .textBox2{
            color: white;
            margin-bottom: 15px;
            text-align: center;
            font-family: 'ZT Mota';
            font-size: 150%;
            font-weight: bold;
            word-wrap: break-word;
        }
        .exploreSection{
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .exploreSectionContainer{
            width: 100%;
            height: 50vh;
        }
        .exploreItemName{
            display: flex;
            flex-direction: column;
            position: absolute;
            color: white;
            text-align: center;
            font-family: 'ZT Mota';
            font-size: 200%;
            align-items: center;
            right: 15%;
            bottom: 5%;
            height: fit-content;
            width: 16%;
        }
        .philosophySection {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .philosophySectionText{
            width: 90vw;
            margin-left: 5%;
            margin-right: 5%;
            text-align: left;   
            word-wrap: break-word;
            overflow-wrap: break-word;
            font-family: "Glegoo";
            font-size: 115%;
            order: 1;
        }
        .philosophySectionImage{
            position: initial;
            object-fit: contain;    
            margin-left: 5%;
            width: 80vw;
            order: 2;
        }
        .bestsellersSection{
            width: 100vw;
        }
        .bestsellerProductsSection{
            display: grid;
            grid-template-columns: repeat(3, 85%);
            margin-left: 9%;
            gap: 2%;
            height: max-content;
            overflow-x: scroll;
        }
        ::-webkit-scrollbar {
            display: none;
        }
        .informationSection{
            display: grid;
            width: 60vw;
            grid-template-columns: repeat(4, 100%);
            margin-top: 1%;
            margin-left: 20%;
            margin-right: 0%;
            overflow-x: scroll;
        }
        .linksSection{
            gap: 2%;
        }
    }
}